extends layout

block content
    nav(class='navbar navbar-inverse')
        div(class='container-fluid')
            div(class='navbar-header')
                a(class='navbar-brand', href='#') M-MEAN-J Proof of Concept
            ul(class='nav navbar-nav')
                li
                    a(href='/') Home
                li(class='active')
                    a(href="adduser") Add User

    //
        user-lookup(userid='56948247e2fba76e71977823')
    span {{ user.fname }}
    button(data-ng-click='loadUserDetail($event)', type='submit', class='btn btn-primary', data='56948247e2fba76e71977823')
        | Load User

    div(class='container-fluid')
        div(class='row')
            div(class='col-md-12')
                h2 Edit User
                #addUser
                    form(name='userForm')
                        table(class='table table-striped')
                            thead
                                th First Name (Required)
                                th Last Name (Required)
                                th Phone (US with Area Code)
                                th Mother
                                th Father
                                th

                            tbody
                                tr
                                    td(class='form-group', ng-class="{ 'has-error': userForm.fname.$invalid }")
                                        input#inputUserFName(data-ng-model='user.fname', name='fname', type='text', 'required ng-maxlength=50')
                                    td(class='form-group')
                                        input#inputUserLName(data-ng-model='user.lname', name='lname', type='text', 'required ng-maxlength=50')
                                    td(class='form-group')
                                        input#inputUserPhone(data-ng-model='user.phone', name='phone', type='text', 'ng-pattern=/^(\+\d{1,2}\s)?\(?\d{3}\)?[\s.-]?\d{3}[\s.-]?\d{4}$/')
                                    td
                                    td
                                    td(class='form-group')
                                        button(data-ng-click='addUser($event)', type='submit', class='btn btn-primary', data='new' ng-disabled='userForm.$invalid')
                                            | Add User
                                tr(ng-show='userForm.fname.$invalid && !userForm.fname.$pristine')
                                    th(colspan='6') First Name is required and should be less that 50 characters
                                tr(ng-show='userForm.lname.$invalid && !userForm.lname.$pristine')
                                    th(colspan='6') Last Name is required and should be less than 50 characters
                                tr(ng-show='userForm.phone.$invalid && !userForm.phone.$pristine')
                                    th(colspan='6') Phone is not required but should include the area code ie. 111 222 3333

